@font-face {
font-family: 'Uni Sans Heavy';
src: url('../fonts/UniSansHeavy.eot');
src: url('../fonts/UniSansHeavy.eot?#iefix') format('embedded-opentype'),
url('../fonts/UniSansHeavy.woff') format('woff'),
url('../fonts/UniSansHeavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

html {
  overflow: hidden;
}
body {
  height: 100000px;
}

.welcome {
  position: absolute;
  /* width: 100vw;
  height: 100vw; */
  background: #02071c;
}


.count{
  position: absolute;
  margin-top: 280px;
  margin-left: 380px;
}

.sum{
  color: white;
  font-size: 150px;
  font-family: 'Uni Sans Heavy' ;
}

.ticket{
  color: white;
  font-size: 68px;
  font-family: 'Uni Sans Heavy'
}

.text{
  position: absolute;
  margin-left: 400px;
  margin-top: 420px;
}

img{
  position: relative;
  width: 30vh;
  transform: rotate(45deg);
}

.img1{
  position: fixed;
  margin-left: 90px;
}
.img2{
  margin-top: 20px;
  margin-left: 400px;
}

.img3{
  margin-top: 450px;
  margin-left: 350px;
}

.img4{
  margin-left: 350px;
}

.typograf{
  /* width: 100vw;
  height: 1000px; */
  background: #00f9ff;
}
